@model OpenSupport.Dashboard.ViewModels.ManageProfileViewModel

@Styles.Render("~/Styles/AdHocStyles/authentication")

<div id="AuthenticationForm">
    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @Html.Partial("_ChangePasswordPartial")

</div>