@font_Segoe: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
@top-margin: 35px;
@main-width: 950px;
@linkColor: #39AED3;
@linkHover: darken(@linkColor, 10);

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html { height: 100%; }

body {
	height: 100%;
	color: #666;
	font-family: @font_Segoe;
	background: 0 0 url("images/bg.png");
	position: relative;
}

a {
	text-decoration: none;
	color: @linkColor;
	&:hover {
		color: @linkHover;
	}
}

input[readonly=readonly] {
	opacity: 0.5;
}

header {
	z-index: 100;
	position: fixed;
	margin-left: -(@main-width/2) + 1 ;
	left: 50%;
	top: 0;
	height: @top-margin;
	width: @main-width - 2;
	background: white;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	border-top: none;
	background: rgb(255,255,255);
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	box-shadow: 0 -1px 10px -1px #666;
	ul {
		height: 100%;
		float: right;
		li {
			padding-top: 10px;
			font-size: 13px;
			position: relative;
			display: inline-block;
			.profilebar-link;
		}
	}
	div {
		&#Profile {
			margin: 5px 6px 2px 10px;
			float: right;
			width: 25px;
			height: 25px;
			left: 0;
			top: 0;
			background: 0 2px no-repeat url("images/profile.png");
		}
		&#ActiveUser {
			width: 250px;	
			height: 100%;
			float: right;
			text-align: right;
			font-size: 13px;
			a {
				.profilebar-link;
			}
			form {
				display: inline-block;
				height: 100%;
			}
		}
	}
}

#Navigation {
	margin: 20px;
	ul {
		display: inline-block;
		&#AskQuestion { float: right; }
		li {
			display: inline-block;
			padding: 5px 10px;
			background: rgb(255,255,255);
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
			text-shadow: 1px 1px white;
			border: 1px solid #C0BEBE;
			box-shadow: 0 0 3px -1px #666;
			margin-right: 5px;
			a {
				color: #AFAFAF;
			
				&.active, &:hover {
					color: #E0B57E;
				}
			}
		}
	}
}

#MainContentContainer {
	padding: 45px 10px 10px 10px;
	position: relative;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 10px 0px #666;
	background: white;
	margin: 0 auto 0 auto;
	width: @main-width;
	height: 100%;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	box-sizing: border-box;
}

aside {
	float: right;
}

#Content {
	padding: 10px;

	h1 {
		float: left;
		font-weight: bold;
		font-size: 20px;
		color: #A2A19E;
		position: relative;
		top: 5px;
	}

	#TopQuestions {
		border: 1px solid #ccc;
		border-top: none;
		border-left: none;
		border-right: none;
		ul#TopQuestions_Catagory {
			float: right;
			margin-right: 20px;
			li {
				display: inline-block;
				border: 1px solid #ccc;
				border-bottom: none;
				padding: 5px 8px;
				cursor: pointer;
				position: relative;
				z-index: 100;
				background: white;
				top: 5px;
				a {
					color: #A1A9AC;
				}
				&.active {
					top: 1px;
					padding: 10px 8px;
					a {
						color: @linkColor;
					}
				}
			}
		}
	}

	#Questions {
		> div.question-container {
			
			padding: 10px;
			border-bottom: 1px solid #ECECEC;
			> div.question-metrics {
				display: inline-block;
				ul {
					li {
						font-size: 14px;
						display: inline-block;
						width: 55px;
						height: 35px;
						padding: 5px;
						text-align: center;
						> div {
							font-size: 20px;
							margin-bottom: 3px;
						}
						&.views {
							color: #ccc;
						}
						&.answers {
							color: #D56868;
							&.is-answered {
								color: white;
								background: #849B66;
							}
						}
					}
				}
			}

			> div.question-title {
				display: inline-block;
				font-size: 20px;
				vertical-align: top;
				margin: 5px 0 0 10px;
			}

			> div.question-owner {
				float: right;
				padding-top: 5px;
				font-size: 16px;
				display: inline-block;
			}

			> div.question-date {
				float: right;
				padding-top: 15px;
				font-size: 12px;
				display: inline-block;
				clear: right;
			}

		}
	}
}

input[type=text], input[type=password], textarea{
	transition: all .2s;
	-moz-transition: all .2s; 
	-webkit-transition: all .2s; 
	-o-transition: all .2s;
	display: inline-block;
	padding: 4px 5px;
	width: 250px;
	resize: none;
	border: 1px solid #cccccc;
	&:active, &:focus {
		outline: none;
		border-color: #56B8DF;
	}
}

input[type=submit] {
	position: inherit;
	clear: none;
	margin: 0;
	left: 0;
	display: block;
	padding: 5px;
	width: 120px;
	box-shadow: 0 0 3px 0px #999;
	border: 1px solid #9B9B9B;
	color: #8F8F8F;
	background: rgb(147,206,222);
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);

	&:hover {
		background: rgb(254,255,255);
		background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1)));
		background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
		background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
		background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
		background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
	}
}

.profilebar-link {
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	padding: 10px 15px;
	height: 100%;
				
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

	&:hover {
		background: rgb(237,237,237);
		background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(53%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
	}
}

.form {
	> section {
		display: none;
		width: 80%;
		clear: both;
		margin: 20px auto 0 auto;
		div {
			width: 100%;
			position: relative;
			&#HtmlEditor {
				> span > table { margin-left: 125px; }
			}
		}
		label {
			display: block;
			color: #929292;
			margin: 10px 10px 3px 125px;

		}
		input[type=text], textarea {
			width: 503px;
			margin-left: 125px;
		}

		textarea {
			height: 200px;
		}

		input[type=submit] {
			margin: 20px 86px 0 0;
			float: right;
		}
	}
}